img{
    
}
.cardpokemon{
    border-radius: 5px;
    background-color: antiquewhite;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#container{
    padding: 10px;
    background-color: #e2e8f0;
    display: grid;
    gap:10px
}